<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','<%= analyticsContainer %>');</script>

   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="<%= analyticsTagManagerUrl %>"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= analyticsUA %>');
</script>

   <!-- End Google Tag Manager -->
   <title>Musilinks - Discover who's connected to whom</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <link rel="shortcut icon" href="favicon.ico" />
   <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    /> -->
   <link rel="stylesheet" type="text/css" href="style.css" />
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet"
      type="text/css" />
   <script type="text/javascript" src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
</head>

<body>
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= analyticsContainer %>"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->
   <!-- Open Search Button -->
   Imp <div id="open-search-btn" class="quick-hidden btn-tooltip" data-tooltip="Refresh network">
      <img class="icon-img" src="search_refresh_white.png" />
   </div>
   <!-- Add artist Button -->
   <div id="add-artist-btn" class="quick-hidden btn-tooltip" data-tooltip="Add artist to network">
      <img class="icon-img" src="search_add.png" />
   </div>
   <!-- Open tutorial Button -->
   <div id="open-tutorial-btn" class="quick-hidden" data-tooltip="Instructions">
      <img class="icon-img" src="help_icon.png" />
   </div>
   <!-- Network -->
   <div id="network-canvas"></div>

   <!-- Help popup text -->
   <div id="info-container" class="hidden">
      <div id="info">
         You selected a solo act! Double click on the node to spawn related artists, then.
      </div>
   </div>

   <!-- Main screen -->
   <div class="modal micromodal-slide" id="main-modal" aria-hidden="true">
      <div id="main-modal__overlay" class="modal__overlay" tabindex="-1">
         <div class="main__modal__container" role="dialog" aria-modal="true" aria-labelledby="node-modal-title">
            <h2 class="main__modal__title" id="main-modal-title">
               Musilinks
            </h2>

            <main class="main__modal__content" id="main-modal-content">
               <form id="main-form">
                  <span id="mobile-main-modal-text">
                     Start typing an artist, band member or musical group...</span>
                  <input id="search-bar" type="text" name="search-bar-text"
                     placeholder="start typing an artist, band member or musical group..." />
               </form>
            </main>

            <footer class="main__modal__footer">
               <div id="main-modal-icons">

                  <a target="_blank" rel="noopener noreferrer"
                     href="https://www.linkedin.com/in/bernardo-knackfuss-019935124/?locale=en_US">
                     <div id="linkedin-icon" class="placeholder-icon placeholder-icon-left"
                        data-tooltip="My LinkedIn page, if you wish to get in touch">
                        <img class="icon-img" src="linkedin_icon.png" />
                     </div>
                  </a>

                  <a href="mailto:bernardo.knackfuss@gmail.com">
                     <div id="email-icon" class="placeholder-icon placeholder-icon-left" data-tooltip="Have feedback? Bug report, feature wish? Send me an
                           email!">
                        <img class="icon-img" src="email_icon.png" />
                     </div>
                  </a>

                  <a target="_blank" rel="noopener noreferrer" href="https://github.com/bernardolk/musilinks">
                     <div id="github-icon" class="placeholder-icon placeholder-icon-left"
                        data-tooltip="This project's Github page">
                        <img class="icon-img" src="github_icon.png" />
                     </div>
                  </a>

                  <!-- <a target="_blank" rel="noopener noreferrer" href="https://github.com/bernardolk/musilinks">
                     <div class="placeholder-icon placeholder-icon-left" data-tooltip="Share this!">
                        <img class=" icon-img" src="share.png" />
                     </div>
                  </a> -->

                  <div id="help-icon" class="placeholder-icon placeholder-icon-right"
                     data-tooltip="Frequently Asked Questions">
                     <img class="icon-img" src="help_icon.png" />
                  </div>
               </div>
            </footer>
         </div>
      </div>
   </div>

   <!-- TUTORIAL MODAL -->
   <div class="modal micromodal-slide" id="tutorial-modal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
         <div class="tutorial__modal__container" role="dialog" aria-modal="true" aria-labelledby="node-modal-title">
            <header class="modal__header">
               <h2 class="modal__title" id="tutorial-modal-title">
                  Instructions
               </h2>
               <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content instructions" id="tutorial-modal-content">
               <!-- <div class="iframe_container">
                  <div class="resp-container">
                     <iframe id="youtube-iframe" src="https://www.youtube.com/embed/HUkceRhj5uI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                  </div>
               </div> -->
               <h3>Basic commands</h3>
               <ul>
                  <li><span class="instructions_highlight">DRAG</span> nodes to 
                     <span class="instructions_highlight">EXPAND</span> them</li>
                  <li><span class="instructions_highlight">DOUBLE CLICK</span> on nodes to 
                     <span class="instructions_highlight">EXPLORE</span></li>
                  <li><span class="instructions_highlight">ADD</span> nodes or 
                     <span class="instructions_highlight">REFRESH</span> network using top left buttons</li>
                  <li>Use <span class="instructions_highlight">MOUSE WHEEL/PINCH MOVEMENT</span> (trackpad or touch) to <span class="instructions_highlight">ZOOM</span> in/out</li>
               </ul><br>
               <h3>Advanced commands</h3>
               <ul>
                  <li><span class="instructions_highlight">SELECT</span> node and <span class="instructions_highlight">DOUBLE CLICK</span> anywhere to <span class="instructions_highlight">FIX/UNFIX</span> it</li>
                  <li><span class="instructions_highlight">DOUBLE CLICK</span> anywhere to <span class="instructions_highlight">EXPAND/CONTRACT</span> network</li>
                  <li><span class="instructions_highlight">HOVER</span> on nodes and edges for 
                     <span class="instructions_highlight">ADDITIONAL INFORMATION</span>  </li>
               </ul>
            </main>
            <footer id="tutorial-modal-footer" class="modal__footer"></footer>
         </div>
      </div>
   </div>


   <!-- Loading screen modal -->
   <div class="modal micromodal-slide" id="loading-modal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1">
         <div class="loader"></div>
      </div>
   </div>

   <!-- Instructions modal -->
   <div class="modal micromodal-slide" id="help-modal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
         <div class="help__modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-title">
            <header class="modal__header">
               <h2 class="help__modal__title">
                  F.A.Q.
               </h2>
               <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="help__modal__content">
               <h3 class="instructions_highlight">What is this?</h3>
               Musilinks is an interactive experience that allows you to find and play around with musical relationships
               between different types of musical artists. <br> 
               <ul>
               <ui>You can explore bands you like to find who's in that band. </ui>
               <ui>You can expand the related artists of two different bands to 
               find out what bands live in the interception between them.  </ui>
               <ui>You can find new bands from your favorite artists that you didn't know they where a part of.  </ui>
            </ul>
               ...And more
               <h3 class="instructions_highlight">How is this possible?</h3>
               Musilinks cross-reference both MusicBrainz.org and Spotify's databases to provide it's experience. The project is open-source and open to contributions.

               <h3 class="instructions_highlight">Why some artists have a '?' instead of their pictures?</h3>
               This means that, even though MusicBrainz has information about this artist and we can expose his
               relationships, Spotify doesn't knows about him, so no Spotify profile is linked to this node.

               <h3 class="instructions_highlight">Why sometimes an artist node is not really him when i double click on it?</h3>
               We do our best to cross reference the two databases, but sometimes a good link cannot be created, 
               specially if there are more than 1 artist with exactly the same name. In future versions we might fix 
               that with the aid of our users.
               <h3 class="instructions_highlight">Can i contribute with information on artists?</h3>
               Sure! Head out to www.musicbrainz.org , create an account and start contributing!
            </main>
         </div>
      </div>
   </div>

   <!-- Artist's information dialog modal -->
   <div class="modal micromodal-slide" id="node-modal" aria-hidden="true">
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
         <div class="artist__modal__container" role="dialog" aria-modal="true" aria-labelledby="node-modal-title">
            <header class="modal__header">
               <h2 class="modal__title" id="node-modal-title">
                  Artist
               </h2>
               <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="node-modal-content">
               <div class="responsive-grid">
                  <div class="modal__spotify__player" id="node-modal-player">
                     <iframe id="iframe-spotify" src="" width="300" height="380" frameborder="0"
                        allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="modal__spotify__related_artists" id="node-modal-related">
                     <div id="related-artists-header">Related Artists</div>
                  </div>
               </div>
            </main>
            <footer id="modal-spotify-footer" style="text-align: center">
               <button id="spawn-rel-artists-btn" class="modal__btn modal__btn-primary" style="margin-top: 20px">Spawn
                  Related Artists!</button>
            </footer>
         </div>
      </div>
   </div>

   <script src="plugins/lodash/lodash.js"></script>
   <script src="requests.js"></script>
   <script src="network.js"></script>
   <script src="events.js"></script>
</body>

</html>