.main-container {
  min-height: 40rem;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  /*top: 75%;*/
  left: 35%;
  /*right: 5% */
  width: 30%;
}
.autocomplete-items div {
  padding: 15px;
  cursor: pointer;
  background-color: #283b53;
  border-bottom: 1px solid #455972;
  color: white;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #5f728a;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.autocomplete-btn {
  /*border: 1px solid green;*/
  float: right;
  /*position: absolute;
    top: 2px;*/
  width: 28px;
  height: 28px;
  margin-top: -6px;
  margin-right: 8px;
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  padding: 0;
}

body {
  font: 10pt arial;
  overflow: hidden;
}

#network-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20253a;
}

#network-canvas:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.modal__overlay:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.ghost-node {
  position: absolute;
  z-index: 98;
  /* left: 100px;
    top: 100px; */
  opacity: 0.8;
  border: 3px solid #00449e;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.loader {
  border: 16px solid #1b2b757a;
  border-top: 16px solid #0f9e46;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial__modal__container {
  background-color: #1a2636;
  padding: 30px;
  width: 70vh;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  color: #3bb94c;
  box-sizing: border-box;
}

.modal__close {
  background-color: #d4d4d4;
  border: 0;
}

.modal__btn {
  font-size: 1.2rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #47b876;
  color: #fff;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  max-height: 60%;
  color: rgba(0, 0, 0, 0.8);
}

/**************************\
  Scroll bar
\**************************/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**************************\
  Node modal styles
\**************************/
.modal__spotify__player {
  /* grid-template-columns: */
}

.modal__spotify__related_artists {
  position: relative;
  width: 380px;
  /*max-height: 55vh;*/
  box-sizing: border-box;
  text-align: center;
  background-color: #0f151b;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  margin: 0 0 0 auto;
  /*background-image: linear-gradient(#151b22, #0e4415);*/
}

.modal__artists__information{
   position: relative;
   max-width: 200px;
   border: auto 15px auto 15px;
   background-color: #0f151b;
   border-radius: 3px;
   float: left;
}


#related-artists-header {
  color: #3bb94c;
  /*background-color: #0e1822;*/
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  position: relative;
  /* margin-top: 10px; */
}

.related-artist-row {
  display: inline-block;
  position: relative;
}



.related-artist-image {
  /* margin: 9px 0 9px 0; */
  width: 60px;
  height: 60px;
  box-shadow: inset -5px 5px 3px rgba(255, 255, 255, 0.469);
}


.related-artist-image-div {
  float: left;
  text-align: center;
  max-width: 70px;
  position: relative;
  margin: 9px 6px 9px 6px;
  z-index: 990;
  transition: all 100ms linear;
}

.related-artist-image-div:hover {
   transform: scale(1.2);
}

.related-artist-image-div::after{
   position: absolute;
   opacity: 0;
   pointer-events: none;
   content: attr(data-tooltip);
   left: 0;
   bottom: -40px;
   border-radius: 3px;
   box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
   background-color: seagreen;
   color: white;
   z-index: 999;
   padding: 8px;
   width: 100px;
   transform: translateY(-20px);
   transition: all 150ms cubic-bezier(.25, .8, .25, 1);
 }
 

.related-artist-image-div:hover::after{
   opacity: 1;
   z-index: 999;
   transform: translateY(0);
   transition-duration: 300ms;
}


.related-artist-image-label {
  margin-top: 8px;
  color: #ffffff;
  word-wrap: break-word;
  float: bottom;
}

/**************************\
  Main Modal Styles
\**************************/

.main__modal__container {
  background-color: #1a2636;
  padding: 30px;
  max-width: 1200px;
  max-height: 80vh;
  width: 70%;
  /*max-height: 45%;*/
  border-radius: 45px;
  box-sizing: border-box;
}
.main__modal__title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.25;
  text-align: center;
  color: #3bb94c;
  text-shadow: -4px 0 0 #000000ea, -4px 0 0 #000000ea, 0 4px 0 #000000ea,
    0 -4px 0 #000000ea;
  font-family: monospace;
  box-sizing: border-box;
}

.main__modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 100%;
  height: 45%;
}

.placeholder-icon {
   position: relative;
  /* border: 2px solid rgba(41, 81, 146, 0.671); */
  border: 2px solid #051c3a;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  margin: 16px;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: visible;
  /* background-color: #00459e2c; */
  /* background-color: #3bb94c; */
  background-color: rgba(41, 81, 146, 0.671);
  /*block-size: 32px;*/
}




.placeholder-icon::after{
   pointer-events: none;
   content: attr(data-tooltip);

   border-radius: 3px;
   box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
   background-color: seagreen;
   color: white;

   position: absolute;
   opacity: 0;
   z-index: 999;
   padding: 8px;
   max-width: 250px;
   min-width: 100px;
   left: -30px;
   top: 60px;

   transform: translateY(100%);
   transition: all 150ms cubic-bezier(.25, .8, .25, 1);
 }
 

.placeholder-icon:hover::after{
   opacity: 1;
   transform: translateY(0);
   transition-duration: 300ms;
} 


.placeholder-icon-left {
  float: left;
}

.placeholder-icon-right {
  float: right;
}

#main-form {
  display: inline-block;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
}

input {
  width: 70%;
  padding: 10px 16px;
  margin: 8px 0;
  border: 2px solid rgba(41, 81, 146, 0.671);
  font-size: 1.5rem;
  color: #ffffffef;
  box-sizing: border-box;
  background-color: #00459e2c;
}

.icon-img {
  width: 70%;
  position: absolute;
  top: calc(15%);
  left: calc(15%);
}

.icon-img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: navy;
}

#share-icon {
  width: 72%;
  position: absolute;
  top: calc(19%);
  left: calc(19%);
  filter: drop-shadow(-1px 1px 4px) invert();
}

#share-icon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  color: navy;
}

.help__modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  height: 45%;
}



.artist__modal__container {
   background-color: #1a2636;
   padding: 30px;
   max-width: 950px;
   max-height: 80vh;
   border-radius: 4px;
   box-sizing: border-box;
 }


/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.rounded-circle {
  border-radius: 50%;
  object-fit: cover;
}

/* Tooltip */

.tooltip {
  position: relative;
}

.tooltip-r{
    position: relative;
    float: right;
  }

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 180px;
  font-size: 1rem;
  background-color: seagreen;
  color: #fff;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 6px;

  position: absolute;
  z-index: 9999;
  bottom: -50px;
  left: 0px;
  overflow: visible;
}

.tooltiptext-r {
  right: 0px;
}

.placeholder-icon:hover .tooltiptext {
  visibility: visible;
}

#info-container {
  /* visibility: hidden; */
  /* width: 400px; */
  font-size: 2rem;
  background-color: rgba(46, 139, 86, 0.541);
  color: #fff;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 6px;

  position: absolute;
  z-index: 99;
  bottom: 5%;
  right: 0px;
  left: 0%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
}

#open-tutorial-btn{
   background-color: rgb(50, 47, 78);
   border-radius: 50%;
   border: 3px solid rgb(157, 161, 212);
   visibility: visible;
   opacity: 100;
   width: 80px;
   height: 80px;
   left: calc(100% - 30px - 80px);
   top: calc(100% - 30px - 80px);
   position: absolute;
   z-index: 97;
   transition: visibility 0.5s linear, opacity 0.5s linear;
}

#add-artist-btn{
   background-color: rgb(50, 47, 78);
   border-radius: 50%;
   border: 3px solid rgb(157, 161, 212);
   visibility: visible;
   opacity: 100;
   width: 80px;
   height: 80px;
   top: 35px;
   left: 65px;
   position: absolute;
   z-index: 97;
   transition: visibility 0.5s linear, opacity 0.5s linear;
}

#open-search-btn{
   background-color: rgb(50, 47, 78);
   border-radius: 50%;
   border: 3px solid rgb(157, 161, 212);
   visibility: visible;
   opacity: 100;
   width: 60px;
   height: 60px;
   top: 125px;
   left: 25px;
   position: absolute;
   z-index: 97;
   transition: visibility 0.5s linear, opacity 0.5s linear;
}


.quick-hidden {
   visibility: hidden !important;
   opacity: 0 !important;
 }


#tutorial-modal {
   background-color: #1a2636;
   padding: 30px;
   /* max-width: 1200px;
   max-height: 80vh; */
   /* width: 820px; */
   /*max-height: 45%;*/
   border-radius: 45px;
   overflow-y: auto;
   box-sizing: border-box;
 }

 
 .tutorial__modal__title {
   margin-top: 30px;
   margin-bottom: 0;
   font-weight: 900;
   font-size: 4rem;
   line-height: 1.25;
   text-align: center;
   color: #3bb94c;
   text-shadow: -4px 0 0 #000000ea, -4px 0 0 #000000ea, 0 4px 0 #000000ea,
     0 -4px 0 #000000ea;
   font-family: monospace;
   box-sizing: border-box;
 }


 #mobile-main-modal-text{
   visibility: hidden;
   display: block;
   color: white;
   font-size: 0.8rem;
   font-family: monospace;
   box-sizing: border-box;
   margin-bottom: 10px;
   font-weight: 700;
}

.iframe_container{
   display:block;
   padding: 10%;
}

#youtube-iframe{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}

.resp-container {
   position: relative;
   overflow: hidden;
   padding-top: 56.25%;
}


/* 

.artist_name_tooltip {
   position: absolute;
   bottom: -10px;
   display: none;
   max-width: 110px;
   word-wrap: break-word;
   white-space: pre-wrap;
   font-size: 0.3rem;
   background-color: seagreen;
   color: #fff;
   text-align: center;
   padding: 8px 8px 8px 8px;
   border-radius: 6px;
   z-index: 999;
 } */

 .help__modal__container {
   background-color: #1a2636;
   padding: 30px;
   max-width: 1200px;
   max-height: 80vh;
   width: 70%;
   /*max-height: 45%;*/
   border-radius: 45px;
   box-sizing: border-box;
   overflow: scroll;
 }

 .help__modal__title {
   margin-top: 10px;
   margin-bottom: 0;
   font-weight: 900;
   font-size: 3rem;
   line-height: 1.25;
   text-align: center;
   color: #3bb94c;
   text-shadow: -4px 0 0 #000000ea, -4px 0 0 #000000ea, 0 4px 0 #000000ea,
     0 -4px 0 #000000ea;
   font-family: monospace;
   box-sizing: border-box;
 }


/*//////////////////////////////////////////////////////
//                 RESPONSIVE BEHAVIOUR 
///////////////////////////////////////////////////// */

.responsive-grid{
   display: grid;
   grid-template-columns: 1fr 1.5fr;
}

@media (max-height: 850px){
   #spawn-rel-artists-btn{
      margin-top: 0px !important;
   }
   
   .artist__modal__container{
      max-height: unset;
   }
}

 @media (max-width: 700px){
    .responsive-grid{
       display: block;
    }

    #info{
       font-size: 0.8rem;
    }

    .artist__modal__container{
       overflow-x: hidden;
       padding-left: 15px;
       padding-right: 15px;
       overflow-y: auto;
    }

    #modal-spotify-footer{
      vertical-align: text-top;
      margin: 12px 0 20px 0;
   }  

    .modal__spotify__related_artists{
       margin: 0;
       padding: 0;
       width: 300px;
    }

    #node-modal-content{
       margin-bottom: 0;
    }

   .main__modal__title{
      font-size: 2.5rem;
   }

   .help__modal__title{
      font-size: 1.5rem;
   }

   .main__modal__container{
      width: 95%;
      padding: 15px;
   }

   .tutorial__modal__container{
      width: 95%;
      padding: 15px;
      max-height: 70vh;
   }
   
   /*tutorial modal*/
   .tutorial__modal__title{
      font-size: 2.5rem;
   }

   /* #tutorial-modal{
      width: 95%;
      padding: 15px;
      height: 70%;
   }  */


   #spotify-player{
      width:100%;
   }

   #open-tutorial-btn{
      width: 55px;
      height:55px;
      left: calc(100% - 15px - 55px);
      top: calc(100% - 15px - 55px);
   }

   #add-artist-btn{
      width: 60px;
      height: 60px;
      top: 20px;
      left: 40px;
   }

   #open-search-btn{ 
      width: 40px;
      height: 40px;
      top: 90px;
      left: 20px;
   }

   .help__modal__container {
      width: 90%;
   }

   .help__modal__content{
      font-size: 0.8rem;
   }
 }


@media (max-width: 700px), (orientation: landscape) and (max-height: 500px){
   .main__modal__content{
      margin-top: 0;
      margin-bottom: 0;
   }

   #search-bar{
      font-size: 1.0rem;
   }

   .autocomplete-items div{
      padding: 8px;
   }
}

/*When shrinking window size in height*/
@media (orientation: landscape) and (max-height: 400px){
   #mobile-main-modal-text{
      display:none;  
   }
   .main__modal__container{
      padding-top: 10px;
   }

   .iframe_container{
      display:block;
      width: 80vh;
      height: 80vh;
   }

}

@media (orientation: landscape) and (max-height: 320px){
   #main-modal-title{
      margin-top: 5px;
   }
   .placeholder-icon{
      width: 32px;
      height: 32px;
   }
}

@media(max-width: 700px), (orientation: portrait){
   #mobile-main-modal-text{
      visibility: visible;
   }
   #search-bar{
      text-align: center;
   }
}

@media(max-width: 295px), (orientation: portrait){
   .placeholder-icon{
      margin: 6px;
   }
}

